/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autogen-warning.patch
/autom4te.cache
/config.log
/config.status
/configure
/eng-mal.autobil.bin
/eng-mal.autogen.bin
/eng-mal.autolex.bin
/eng-mal.automorf.bin
/eng-mal.autopgen.bin
/eng-mal.rlx.bin
/eng-mal.t1x.bin
/eng-mal.t2x.bin
/eng-mal.t3x.bin
/install-sh
/mal-eng.autobil.bin
/mal-eng.autogen.bin
/mal-eng.autolex.bin
/mal-eng.automorf.bin
/mal-eng.autopgen.bin
/mal-eng.rlx.bin
/mal-eng.t1x.bin
/mal-eng.t2x.bin
/mal-eng.t3x.bin
/missing
/modes
